[Unit]
Description=WOL api server
After=network.target

[Service]
User=armbian
WorkingDirectory=/home/armbian/wolapi
Environment="WOL_BROADCAST_IP=192.168.150.255"
ExecStart=/home/armbian/.local/bin/uv run uvicorn main:app --host 0.0.0.0 --port 25555
Restart=always

[Install]
WantedBy=multi-user.target